*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: #bc4b1a;
}
/*HERO*/
.hero{
    height: 100vh;
}
header{
    background-image: linear-gradient(rgba(120,60,20,0.7), rgba(40,20,10,0.8)),url("./img-1-1-coffee.jpg");
    
    background-size: cover;
    background-position: center;

    height: 70vh;
    width: 90%;
    object-fit: cover;

    position: relative;
    margin: 50px auto 0 auto;

    color: white;
}
.menu-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 50px;
    left: 120px;

    width: 80%;
}  
.logo{
    font-size: 28px;
    font-weight: bold;
    margin: 0;    
}
.icone{
    margin-right: 10px;
}
 ul {
    list-style: none;
    display: flex;
    gap:20px;
}

li a{
   color:white;
   text-decoration: none;
   padding: 15px;
}

li a:hover {
    background-color: #555;
}

.hero-content{
    position: absolute;

    top: 200px;
    left: 195px;

    max-width: 700px;
}
.destaque{
    font-weight: 500;
}
.hero-content h2{
    font-size: 64px;
    line-height: 1.1;
    margin-bottom: 40px;
    color: white;

    font-weight: 100;

    margin-left: 0;
    padding-left: 0;
}

.hero-content p{
    color: #d3d3d3;
    line-height: 1.6;
    margin-bottom: 40px;
    max-width: 700px;

    margin-left: 0;
    padding-left: 0;
}

.btn-primary{
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    font-size: 16px;

    color: white;
    background-color: rgba(242,135,64);
}
.btn-secondary{
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    margin-right: 15px;
    font-size: 16px;

    color: rgba(242,135,64);
    background-color: white;
}
.skills{
    background-color: white;

    width: 90%;
    margin: 0 auto;

    padding: 80px 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.skills-text{
    max-width: 500px;
}
.skills-text h2{
    color: gray;
    font-size: 20px;
    margin-bottom: 20px;
}
.skills-text h3{
    font-size: 42px;
    margin-bottom: 20px;
    color: #222;
}
.skills-text p{
    color:#666;
    line-height: 1.8;
    margin-bottom: 30px;
}
.skills-img{
    width: 400px;
    height: 600px;
    object-fit: cover;
}
.skills button{
    padding: 15px 30px;
    border: 1px solid  rgba(242,135,64);
    background: white;
    cursor: pointer;
    color: rgba(242,135,64);
}

@media (max-width:768px){

    header{
        width: 100%;
        height: auto;
        padding: 40px 20px;
}

.menu-superior{
    position: static;
    width: 100%;

    flex-direction: column;
    gap:20px;

    text-align: center;
}

ul{
    flex-wrap: wrap;
    justify-content: center;
}

.hero-content{
    position: static;

    margin-top: 50px;
    max-width: 100%;

    text-align: left;

    padding-left: 25px;
    padding-right: 25px;
    
}

.hero-content h2{
    font-size: 40px;
    line-height: 1.2;

    margin-bottom: 20px;
}

.hero-content p{
    font-size: 16px;
    line-height: 1.8;

    max-width: 100%;
    margin-bottom: 30px;
}

.btn-primary, .btn-secondary{
    width: 100%;
    margin-bottom: 15px;
}

.skills{
    flex-direction: column;
    padding: 50px 20px;
    text-align: center;
}

.skills-img{
    width: 100%;
    height: auto;
    max-width: 350px;
}

.skills-text h3{
    font-size: 32px;
}
}